
			<div id="upperPart">
			<center>
				<div id="aboutFlash"></div>
			</center>
			
			<div id="aboutP1">
					<p>"There is a beautiful combination between classical scheme and modern design..."</p>
					<p>Born in India and grew up in Hong Kong, Payal Shah, at a young age, is a dynamic jeweler and the owner of L’ Dezen Jewellery. On 24th November 2011, Payal was crowned the winner of the Ms. Hong Kong Jewellery.</p>
					<p>Payal is an explorer of lofty ideals. Her designs are unique that appeal to lots of jewellery lovers thanks to her up-bringing background and her talents. Payal pursued her dream of architectural interior design in London when she was at 17. After graduation, she was engaged in designing furniture for international hotels. Along side, she was also working on a small collection of jewellery designs with some help from her mother. Releasing the great appeal for her designs and warm responses from her clients, the designer decided to pursue in Jewellery full time. The designer pieces have now evolved into an inventory of one-of-a-kind designers’ pieces today.</p>
					<p>With strong architectural backgrounds, I believe my jewellery designs are with strong geometric presence and graphical potential’ says the Jewellery Net Asia  ‘Young Leader of the Year 2012’ Award winner. Loyal to the philosophy of architecture; Payal pays attention to every detail, from the micro level, the shape of design and the choices of materials and settings. Under the lead of Payal, the chief designer, the company designs are unusual which ingeniously combines the concept balance of classical scheme and modern design. She and the L' Dezen team understand the different needs of their multi-cultural clientele and have been successful to provide exceptional service with a niche approach to high-end design.</p>
			
					<p id="linkPayal">Visit <a href="www.payalshahdesigner.com">www.payalshahdesigner.com</a> for more information on Payal Shah</p>
				</div>
			
			</div>