<div id="upperPart_exhibition">
				
				<div id="text1">
					We exhibit in many jewelry shows around the world.<br>
					have a look at our calendar for further details:
				</div>
				<br>
				
				<div id="image1">
				</div>
			
				<div id="buttonListA">
						<ul>
							<li class="a"><%= link_to "L'Dezen Jewelry Shows Calendar", "/homepages/calendar" %></a></li>
							<li class="a"><%= link_to "Next HKJMA Show, Hong Kong", "/homepages/event" %></li>
							<li class="a"><a href="http://www.atmayfair.com/">Next: AtMayfair.com - Coming Soon</a></li>
						</ul>			
				</div>
			
				<div id="buttonListB">
						<ul>
							<li><a href="#">L'Dezen Instagram Diary</a></li>
							<br>
							<li><a href="#">Exhibition Photo Gallery</a></li>
							<br>
							<li><a href="#">L'Dezen Video Gallery</a></li>
						</ul>
				</div>
			</div>