<div id="upperPart_exhibition">
				
				<div id="text1">
					We exhibit in many jewelry shows around the world.<br>
					have a look at our calendar for further details:
				</div>
				<br>
				
				<div id="image1">
					
				</div>
			
				<div class="buttonListA">
						<ul>		
							<li><a href="#" id="buttonA_text"><div id="buttonA">L' Dezen Jewellery Shows Calendar</div></a></li>
							<li><a href="#" id="buttonA_text"><div id="buttonA">Next: HKJMA Show, Hong Kong</div></a></li>
							<li><a href="#" id="buttonA_text"><div id="buttonA">Next: AtMayfair.com - Coming Soon!</div></a></li>
						</ul>		
				</div>
				
				<div id="buttonListB">
						<ul>
							<li><a href="#" id="buttonListB_text">L'Dezen Instagram Diary</a></li>
							<br>
							<li><a href="#" id="buttonListB_text">Exhibition Photo Gallery</a></li>
							<br>
							<li><a href="#" id="buttonListB_text">L'Dezen Video Gallery</a></li>
						</ul>
				</div>
</div>