			<div id="upperPart_publication">
			
				<div id="opt">
					<h2>Publications & Media</h2>
					<ul>
						<li><a>Newspapers</a></li>
						<li><a>Magazines</a></li>
						<li><a>Celebrity Features</a></li>
						<li><a>Editorials</a></li>
					</ul>
				</div>
				
				<div id="flashContainer_publication">
				</div>
			</div>		