<%= form_for(@usermail) do |f| %>
  <% if @usermail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usermail.errors.count, "error") %> prohibited this usermail from being saved:</h2>

      <ul>
      <% @usermail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render 'form' %>
<%end%>